<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantillas</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        /* Estilos personalizados */
        .card {
            transition: transform 0.3s, box-shadow 0.3s;
        }
        .card:hover {
            transform: translateY(-5px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body class="bg-white dark:bg-gray-900">
<section class="min-h-screen p-8">
    <a href="#">
        <img src="Precredit.png" alt="Logo" class="absolute top-4 left-4 w-24 md:w-40">
    </a>
    <div class="absolute top-4 right-4">
        <button (click)="redirigir()" type="button" class="text-blue-600 inline-flex items-center justify-center border border-blue-600 hover:bg-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14M5 12l4-4m-4 4 4 4"/>
            </svg>
            Regresar
        </button>
    </div>
    <br><br>
    <div class="container mx-auto py-8">
        <div class="text-center mb-12">
            <h2 class="text-4xl font-semibold text-gray-900 dark:text-white mb-4">Plantillas</h2>
            <p class="text-lg text-gray-500 dark:text-gray-400">
                En esta sección encontrarás plantillas en Word, Excel, PowerPoint y Power bi, diseñadas para facilitar distintos procesos dentro de la empresa. Elige la que mejor se adapte a tus necesidades.
            </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
            <!-- Tarjeta de Word -->
            <div class="card flex flex-col bg-gray-50 rounded-lg shadow-lg dark:bg-gray-800">
                <div class="flex justify-center">
                    <img class="object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none" src="Icono de wor.png" alt="Imagen de Word" style="width: 200px; height: auto">
                </div>
                <div class="p-6 flex flex-col justify-between">
                    <h3 class="text-xl font-bold text-gray-900 dark:text-white mb-2">Word</h3>
                    <p class="text-gray-500 dark:text-gray-400 mb-4">
                        En esta sección encontrararas plantillas de Word para facilitar la organización de tus documentos y optimizar tu trabajo.
                    </p>
                    <br>
                    <br>
                    <a href="https://drive.google.com/drive/folders/1zcHWZFkmLSE6H57XYm5P7nvRkG09tqMp?usp=drive_link" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="text-blue-600 inline-flex items-center justify-center border border-blue-600 hover:bg-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                            Ingresar
                        </button>
                    </a>
                </div>
            </div>

            <!-- Tarjeta de Excel -->
            <div class="card flex flex-col bg-gray-50 rounded-lg shadow-lg dark:bg-gray-800">
                <div class="flex justify-center">
                    <img class="object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none" src="Icono de excel.png" alt="Imagen de Excel" style="width: 200px; height: auto">
                </div>
                <div class="p-6 flex flex-col justify-between">
                    <h3 class="text-xl font-bold text-gray-900 dark:text-white mb-2">Excel</h3>
                    <p class="text-gray-500 dark:text-gray-400 mb-4">
                        En esta sección encontrararasplantillas de Excel para facilitar la organización de tus documentos y optimizar tu trabajo..
                    </p>
                    <br>
                    <br>
                    <a href="https://drive.google.com/drive/folders/1Z_lChPMeEO9ERQCjyYR-ekqiihb4cBUO?usp=drive_link" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="text-blue-600 inline-flex items-center justify-center border border-blue-600 hover:bg-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                            Ingresar
                        </button>
                    </a>
                </div>
            </div>

            <!-- Tarjeta de PowerPoint -->
            <div class="card flex flex-col bg-gray-50 rounded-lg shadow-lg dark:bg-gray-800">
                <div class="flex justify-center">
                    <img class="object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none h-48" src="Icono de Power.png" alt="Imagen de PowerPoint" style="width: 200px; height: auto">
                </div>
                <div class="p-6 flex flex-col justify-between">
                    <h3 class="text-xl font-bold text-gray-900 dark:text-white mb-2">PowerPoint</h3>
                    <p class="text-gray-500 dark:text-gray-400 mb-4">
                        En esta sección encontrararas plantillas Power Point para facilitar la organización de tus documentos y optimizar tu trabajo.
                    </p>
                    <br>
                    <br>
                    <a href="https://drive.google.com/drive/folders/1cskXUT_k-XLggg_pbaRz_05ShqskisA6?usp=sharing" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="text-blue-600 inline-flex items-center justify-center border border-blue-600 hover:bg-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                            Ingresar
                        </button>
                    </a>
                </div>
            </div>

            <!-- Tarjeta de Power BI -->
            <div class="card flex flex-col bg-gray-50 rounded-lg shadow-lg dark:bg-gray-800">
                <div class="flex justify-center">
                    <img class="object-cover rounded-t-lg md:rounded-l-lg md:rounded-t-none" src="Icono de Powerbi.png" alt="Imagen de Power BI" style="width: 200px; height: auto">
                </div>
                <div class="p-6 flex flex-col justify-between">
                    <h3 class="text-xl font-bold text-gray-900 dark:text-white mb-2">Power BI</h3>
                    <p class="text-gray-500 dark:text-gray-400 mb-4">
                        En esta sección encontrararas plantillas de Power Bi para facilitar la organización de tus documentos y optimizar tu trabajo.
                    </p>
                    <br>
                    <br>
                    <br>
                    <a href="https://drive.google.com/drive/folders/1PMQAMSYo24BwcXHPSGOJPxs9G6tUQB8q?usp=sharing" target="_blank" rel="noopener noreferrer">
                        <button type="button" class="text-blue-600 inline-flex items-center justify-center border border-blue-600 hover:bg-blue-600 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5">
                            Ingresar
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>
